<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Bar Example</title>
    <style>
        /* CSS styles for the header */
        header {
            background-color: #333;
            color: #fff;
            padding: 10px 0;
            text-align: left;
        }

        nav {
            display: flex;
            justify-content: left;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 15px;
            font-size: 18px;
        }

        nav a:hover {
            text-decoration: underline;
        }
    </style>
</head> -->
<body>

<header>
    <!-- <h1>Header Bar Example</h1> -->
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <!-- <a href="#" class="navbar-brand">Home</a> -->
        <div class="navbar-nav mr-auto">
            <li class="nav-item">
                <a routerLink="/Home" class="nav-link">Home</a>
              </li>
          <li class="nav-item">
            <a routerLink="/create" class="nav-link">Create</a>
          </li>
          <li class="nav-item">
            <a routerLink="/cart" class="nav-link">Cart</a>
          </li>
          <li class="nav-item">
            <a routerLink="/seeAll" class="nav-link">See All</a>
          </li>
          <li class="nav-item">
            <a routerLink="/logout" class="nav-link">Logout</a>
          </li>
        </div>
      </nav>
    <!-- <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
    </nav> -->
</header>

<!-- Your content goes here -->

</body>
</html>
