<div class="container">
    <h2>User Table</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Age</th>
          <th>Profession</th>
          <th>
            Pincode
          </th>
          <th>Service</th>
          <th>Country</th>
          <th>City</th>
          <th>Area</th>
          <th>State</th>
          <th>SpecialNote</th>
          <th>DocLink</th>
          <th>LocationLink</th>
          <th>AnySpecialGroup</th>
          <th>Actions</th> 
        </tr>
      </thead>
      <tbody>
        <!-- Use *ngFor directive to loop through users array -->
        <tr *ngFor="let user of users">
          <td>{{ user.Serviceid }}</td>
          <td>{{ user.S_Name }}</td>
          <td>{{ user.Gender }}</td>
          <td>{{ user.Age }}</td>
          <td>{{ user.Profession}}</td>
          <td>{{ user.Pincode}}</td>
          <td>{{ user.SpecialNote}}</td>
          <td>{{ user.City}}</td>
          <td>{{ user.City}}</td>
          <td>{{ user.Area}}</td>
          <td>{{ user.State}}</td>
          <td>{{ user.SpecialNote}}</td>
          <td>{{ user.DocLink}}</td>
          <td>{{ user.LocationLink}}</td>
          <td>{{ user.AnySpecialGroup}}</td>
          <td>
            <!-- Button to reject -->
            <!-- <button class="btn btn-danger" (click)="rejectUser(user)">Reject</button> -->
            <button type = "button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#rejectModal" >Reject</button>&nbsp;
            <!-- Button to pay to verify -->
            <!-- <button (click)="openAlertDialog()">Show Alert</button> -->
            <!-- <button class="btn btn-success" (click)="payToVerify(user)">Pay to Verify</button> -->
          <button type = "button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal" >Pay To Verify</button>&nbsp;
            
            <!-- Modal -->
            <div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Reject Request</h5>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button> -->
                  </div>
                  <div class="modal-body">
                    <p>Are you sure you want to reject this request? </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                    <button class="btn btn-danger" (click)="rejectUser(user) " data-bs-dismiss="modal">Yes</button>
                    
                    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button> -->
                  
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Verify Request</h5>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button> -->
                  </div>
                  <div class="modal-body">
                    <p>Are you sure you want to verify this request? </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                    <button class="btn btn-danger" (click)="payToVerify(user.Serviceid)" data-bs-dismiss="modal">Yes</button>
                    
                    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button> -->
                  
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-alert-dialog 
  *ngIf="showDialog" 
  [message]="alertMessage" 
  (close)="closeAlertDialog()">
</app-alert-dialog>
  