<html lang="en">
<body>

<div class="container mt-3">
  <h2>Cart</h2>
  <ul class="list-group">
    @for (ca of cartList; track ca.Serviceid; let i = $index) {
    <li class="list-group-item" style="width: 25rem; margin-bottom: 30px;  float: left; ">
      <h5 class="card-title">{{ ca.Category }}</h5>
      <p class="card-text">Name : {{ ca.S_Name }}</p>
      <p class="card-text">Gender: {{ ca.Gender }}</p>
      <p class="card-text">State: {{ ca.State }}</p>
      <p class="card-text">City: {{ ca.City }}</p>  
      <p class="card-text">Charges: {{ ca.Charges }}</p> 


      <button  class="btn btn-success" (click)="onClickEditFromCart(ca.Serviceid)">Edit</button>&nbsp;
      <button type = "button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal" >Pay To Verify</button>&nbsp;
      <button  class="btn btn-success" (click)="onClickOnDelete(ca.Serviceid)">Delete</button>
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Payment</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          Service Id = {{ca.Serviceid}}
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="onClickPayLater(ca.Serviceid)">Pay</button>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="reloadCartComponent()">Pay Later</button>
        </div>
  
      </div>
    </div>
  </div>
    </li>
    }
  </ul>




</div>



</body>
</html>

