

<!DOCTYPE html>
<html lang="en">
<body>
  <!-- Main Content -->
  <main>
    <h2>
      Take Services list
    </h2>
   <div class="horizontal-scroll-container">
  <div class="horizontal-list">
    @for (user of itemsTake; track user.Serviceid; let i = $index) {


      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Profession</th>
            <th>
              Pincode
            </th>
            <th>Service</th>
            <th>Country</th>
            <th>City</th>
            <th>Area</th>
            <th>State</th>
            <th>SpecialNote</th>
            <th>DocLink</th>
            <th>LocationLink</th>
            <th>AnySpecialGroup</th>
            <th>Actions</th> 
          </tr>
        </thead>
        <tbody>
          <!-- Use *ngFor directive to loop through users array -->
          <tr >
            <td>{{ user.Serviceid }}</td>
            <td>{{ user.S_Name }}</td>
            <td>{{ user.Gender }}</td>
            <td>{{ user.Age }}</td>
            <td>{{ user.Profession}}</td>
            <td>{{ user.Pincode}}</td>
            <td>{{ user.SpecialNote}}</td>
            <td>{{ user.City}}</td>
            <td>{{ user.City}}</td>
            <td>{{ user.Area}}</td>
            <td>{{ user.State}}</td>
            <td>{{ user.SpecialNote}}</td>
            <td>{{ user.DocLink}}</td>
            <td>{{ user.LocationLink}}</td>
            <td>{{ user.AnySpecialGroup}}</td>
            <td>
              <!-- Button to reject -->
              @if(user.Mobile == Mobile){
 
              }
              @else{
                @if (user.service=='Marriage') {
                  <button data-bs-toggle="modal" data-bs-target="#myModal" (click)="getPopUpData(user.Serviceid,user.Category,i)">Propose</button>

                  <!-- @if(user.Type == 'Propose')
                  {
                    <div>
                      <button  *ngIf="user.visibility" >{{user.Type}}</button>
                     </div>
                  }@else{
                    <div>
                      <button  *ngIf="user.visibility" >{{user.Type}}</button>
                      <button *ngIf="!user.visibility" >{{user.Type}}</button>
                     </div>
                  } -->
               
         
                 }@else {
                  <div>
                    <button  *ngIf="user.visibility" id="mobileNum" >{{ user.Mobile }}</button>
                    <button *ngIf="!user.visibility" (click)="changeText(user.Serviceid,i)">Show Number</button>
                   </div>
                 }
              }
            </td>
          </tr>
        </tbody>
      </table>

      <!-- <li class="list-group-item" style="width: 25rem; margin-bottom: 30px;  float: left; ">
        <h5 class="card-title">{{ item.Serviceid }}</h5>
        <p class="card-title">Category: {{ item.Category }}</p>
      <p class="card-text">Name: {{ item.S_Name }}</p>
      <p class="card-text">Gender: {{ item.Gender }}</p>
      <p class="card-text">State: {{ item.State  }}</p>
      <p class="card-text">City: {{ item.City  }}</p>
      <p class="card-text">Charges: {{ item.Charges  }}</p>
      <p class="card-text">Charges: {{ item.Mobile  }}</p> -->
       
    
     
    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header">
           
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
    
          <!-- Modal body -->
          <div class="horizontal-scroll-container"> 
            <div class="horizontal-list">
            <div *ngFor="let popup of popUpData" class="list-item">
              <h5 class="card-title">{{ popup.Serviceid }}</h5>
              <p class="card-text">Name: {{ popup.S_Name }}</p>
              <p class="card-text">Age: {{ popup.Age }}</p>
              <p class="card-text">Gender: {{ popup.Gender }}</p>
              <p class="card-text">Category: {{ popup.Category }}</p>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="joinService(user.Serviceid,popup.Serviceid,user.Category)">Join</button>
        <!-- <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="reloadCartComponent()">Pay Later</button> -->
      </div>
            </div>
            </div>
             </div>
    
      
    
        </div>
      </div>
    </div>

      <!-- </li> -->
    }

  </div>
</div>

<h2>
  Give Services List
</h2>
<div class="horizontal-scroll-container"> 
<div class="horizontal-list">
<div *ngFor="let item of itemsTake" class="list-item">
  <h5 class="card-title">{{ item.Serviceid }}</h5>
        <p class="card-title">Category: {{ item.Category }}</p>
        <p class="card-text">Name: {{ item.S_Name }}</p>

        <p class="card-text">Gender: {{ item.Gender }}</p>
        <p class="card-text">State: {{ item.State  }}</p>
        <p class="card-text">City: {{ item.City  }}</p>
        <p class="card-text">Charges: {{ item.Charges  }}</p>
        <p class="card-text">Charges: {{ item.Mobile  }}</p>
</div>
</div>
 </div>
  </main>


</body>
</html>
