<!-- <div class="horizontal-scroll-container">
  <div class="horizontal-list">
    <div *ngFor="let item of items" class="list-item">
      <h5 class="card-title">{{ 'item.name' }}</h5>
      <p class="card-text">Name: {{ 'item' }}</p>
      <p class="card-text">Gender: {{ item }}</p>
      <p class="card-text">State: {{ 'state' }}</p>
      <p class="card-text">City: {{ 'city' }}</p>
      <p class="card-text">Charges: {{ 'charge' }}</p>
      <button class="btn btn-success">Edit</button>&nbsp;
      <button class="btn btn-success">Pay To Verify</button>&nbsp;
      <button class="btn btn-success">Delete</button>
    </div>
  </div>
</div> -->

<!DOCTYPE html>
<html lang="en">
<body>
  <!-- Main Content -->
  <main>
    <h2>
      Take Services list
    </h2>
   <div class="horizontal-scroll-container">
  <div class="horizontal-list">
    @for (item of itemsTake; track item.Serviceid; let i = $index) {
      <li class="list-group-item" style="width: 25rem; margin-bottom: 30px;  float: left; ">
        <h5 class="card-title">{{ item.Serviceid }}</h5>
        <p class="card-title">Category: {{ item.Category }}</p>
      <p class="card-text">Name: {{ item.S_Name }}</p>

      <p class="card-text">Gender: {{ item.Gender }}</p>
      <p class="card-text">State: {{ item.State  }}</p>
      <p class="card-text">City: {{ item.City  }}</p>
      <p class="card-text">Charges: {{ item.Charges  }}</p>
      <p class="card-text">Charges: {{ item.Mobile  }}</p>
       
       @if (item.service=='Marriage') {
        <div>
          <button  *ngIf="item.visibility" >Requested</button>
          <button *ngIf="!item.visibility" (click)="joinService(item.Serviceid,i)">Join</button>
         </div>

       }@else {
        <div>
          <button  *ngIf="item.visibility" id="mobileNum" >{{ item.Mobile }}</button>
          <button *ngIf="!item.visibility" (click)="changeText(item.Serviceid,i)">Show Number</button>
         </div>
       }
     
      <!-- <button class="btn btn-success">Pay To Verify</button>&nbsp;
      <button class="btn btn-success">Delete</button> -->
      </li>
    }

  </div>
</div>

<h2>
  Give Services List
</h2>
<div class="horizontal-scroll-container"> 
<div class="horizontal-list">
<div *ngFor="let item of itemsTake" class="list-item">
  <h5 class="card-title">{{ item.Serviceid }}</h5>
        <p class="card-title">Category: {{ item.Category }}</p>
        <p class="card-text">Name: {{ item.S_Name }}</p>

        <p class="card-text">Gender: {{ item.Gender }}</p>
        <p class="card-text">State: {{ item.State  }}</p>
        <p class="card-text">City: {{ item.City  }}</p>
        <p class="card-text">Charges: {{ item.Charges  }}</p>
        <p class="card-text">Charges: {{ item.Mobile  }}</p>
</div>
</div>
 </div>
  </main>


</body>
</html>
