<div>

  <!-- @if (isLoggedIn=='true') { -->
    <div>
      <nav class="navbar navbar-expand navbar-dark bg-dark">
        <!-- <a href="#" class="navbar-brand">Home</a> -->
        <a routerLink="/homeScreen" class="navbar-brand">Home</a>
            
        <div class="navbar-nav mr-auto">
          <li class="nav-item">
            <a routerLink="/create" (click)="checkOnEdit()" class="nav-link">Create</a>
          </li>
          <li class="nav-item">
            <a routerLink="/cart" class="nav-link">Cart</a>
          </li>
          <li class="nav-item">
            <a routerLink="/seeAll" class="nav-link">See All</a>
          </li>
          <li class="nav-item">
            <a routerLink="/logout" class="nav-link">Logout</a>
          </li>
        </div>
      </nav>

      <div class="container mt-3">
        <router-outlet></router-outlet>
        <router-outlet name="create"></router-outlet>
        <router-outlet name="seeAll"></router-outlet>
        <router-outlet name="homeScreen"></router-outlet>
       

      </div>
    </div>
  <!-- }@else {
    <app-login></app-login>
  } -->



</div>



